.boton-confirmar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.boton-confirmar button {
  width: 100%;
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  background-color: var(--verde-oscuro);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.boton-confirmar button:hover {
  background-color: var(--verde-claro);
}
